html,
body,
#root,
#root > div {
  max-width: 100%;
  overflow-x: clip;
  overscroll-behavior-x: none;
  overscroll-behavior-y: contain;
  touch-action: pan-y;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100% - 2 * 0.125rem);
  height: 3.5rem;
  padding: 0.125rem;
  z-index: 2;
  background-color: #f0f0f0; /* replace with your desired background color */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  position: relative;
  & > a {
    display: grid;
    place-items: center;
    height: 2.5rem;

    & > img {
      height: 2.5rem;
    }
  }
}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav-button {
  text-decoration: none;
  color: unset;
  display: grid;
  place-items: center center;
}

.wrapper {
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(80%, 250px);

  & > div {
    display: inline;
    & > input {
      float: right;
    }
    & > label {
      float: left;
    }
    text-align: right;
  }
}
