script {
  display: none !important;
}

.brand-icon {
  height: 30px;
}

#nav-icon {
  margin-left: 0;
}

@media (max-width: 480px) {
  .brand-icon {
    height: 22px;
  }
}

.navbar {
  margin-top: 0;
}
