@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #ffffff;
}

input {
  @apply w-full
	px-4 py-2
	rounded-lg;
}

.btn-slim {
  transition: all 0.125s ease-in-out;
  @apply size-full text-nowrap 
		border box-border
		rounded-lg py-2 px-4
		text-center content-center;
}

.btn-cta {
  transition: all 0.125s ease-in-out;
  @apply size-full
		border box-border
		rounded-[32px] p-4
		text-center content-center;
}

@layer utilities {
  .hollow-primary {
    @apply border  bg-white border-primary-500 text-primary-500;
  }

  .hollow-secondary {
    @apply border bg-white border-secondary-500 text-secondary-500;
  }

  .hollow-good {
    @apply border bg-white border-green-500 text-green-500;
  }

  .hollow-bad {
    @apply border bg-white border-red-500 text-red-500;
  }

  .fill-primary {
    @apply bg-primary-500 text-white;
  }

  .fill-secondary {
    @apply bg-secondary-500 text-white;
  }

  .fill-good {
    @apply bg-green-500 text-white;
  }

  .fill-bad {
    @apply bg-red-500 text-white;
  }
}
