[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
uvicorn = "*"
fastapi = "*"
databases = "*"
pydantic = "*"
aiosmtplib = "*"
apscheduler = "*"
requests = "*"
beautifulsoup4 = "*"
jose = "*"
passlib = "*"
sqlalchemy = "*"
asyncpg = "*"
starlette = "*"
psycopg2 = "*"
alembic = "*"

[dev-packages]
neovim = "*"

[requires]
python_version = "3.9"
