@tailwind base;
@tailwind components;
@tailwind utilities;

.message-err--wrapper,
.message-ok--wrapper {
  @apply tw-w-full tw-h-12
		tw-border;
}

.message-ok--wrapper{
  @apply tw-bg-green-400 tw-border-green-600;
}

.message-err--wrapper {
  @apply tw-bg-red-400 tw-border-red-600;
}

.app-wrapper {
  @apply tw-container tw-mx-auto;
}

.adder--wrapper {
  @apply tw-w-full tw-h-16 tw-fixed tw-bottom-0 tw-left-0;
}

#pages-list {
  @apply tw-w-full 
  tw-gap-4 tw-px-2 tw-py-4
  tw-grid 
  tw-grid-cols-1
  sm:tw-grid-cols-2
  md:tw-grid-cols-3
  lg:tw-grid-cols-4
  xl:tw-grid-cols-6;
}

.page-card {
  @apply tw-bg-stone-100 tw-text-stone-950
	tw-rounded-sm
	tw-overflow-x-hidden
	tw-border tw-border-stone-200
	tw-p-6 tw-flex tw-flex-col tw-gap-4;
}

.page-card--title {
  @apply tw-text-xl tw-text-center tw-underline tw-text-blue-600
  tw-text-wrap tw-whitespace-normal;
}

.page-card--description {
  @apply tw-text-lg tw-text-left;
}

.page-card--timestamp {
  @apply tw-text-sm tw-text-stone-600;
}

.page-card--footer {
  @apply tw-flex tw-justify-between;
}

.page-card--delete {
  @apply tw-rounded tw-px-2
		tw-border tw-border-red-700 
		tw-bg-red-500 hover:tw-bg-red-600
		tw-text-white;
}
