package components

templ ButtonPrimary(text string) {
	<a href="/" class="bg-primary-500 border border-primary-100 p-4 text-center content-center text-primary-100">{ text }</a>
}

templ ButtonSecondary(text string) {
	<a href="/" class="bg-secondary-500 border border-secondary-100 p-4 text-center content-center text-secondary-100">{ text }</a>
}
