package components

templ ButtonPrimary(text string, destination templ.SafeURL) {
	<div
		class="
bg-primary-500 text-white
min-w-[150px]
rounded-[32px] p-4 
text-center content-center"
	>
		<a href={destination}>{ text }</a>
	</div>
}

templ ButtonSecondary(text string, destination templ.SafeURL) {
	<div
		class="
bg-secondary-500 text-white
min-w-[150px]
rounded-[32px] p-4
text-center content-center"
	>
		<a href={destination}>{ text }</a>
	</div>
}
