package components

templ Card() {
	<div
		class="card
			bg-grey-800 
			rounded-lg
			p-8 gap-8
			flex flex-col justify-start align-middle
			size-full
			"
	>
		{ children... }
	</div>
}

templ Page() {
	<div class="max-w-sm mx-auto">
		{ children... }
	</div>
}
