package components


templ Header() {
	<div class="w-full bg-grey-800 flex justify-between px-8 py-6 align-center border-b border-b-grey-100 ">
		<a href="/" class="text-grey-100 text-xl">Pagemail</a>
		<div class="flex gap-6">
			<a class="content-center" href="/">
				@IconAdd()
			</a>
			<a class="content-center" href="/">
				@IconBurger()
			</a>
		</div>
	</div>
}
