[Unit]
Description=pagemail
After=network.target

[Service]
ExecStart=/home/ec2-user/prd/pagemail/main 
Restart=always
Environment="PM_ENV=prd"
Environment="PM_MODE=release"
Environment="PM_PORT=4000"
Environment="PM_DB_PATH=/home/ec2-user/data/prd/pagemail/pagemail.sqlite3"
StandardError=file:/var/log/pagemail/logs.log
StandardOutput=file:/var/log/pagemail/logs.log
StandardInput=null

[Install]
WantedBy=multi-user.target
