[Unit]
Description=pagemail
After=network.target

[Service]
ExecStart=/home/ec2-user/prod/server serve --dir=/home/ec2-user/data/prod --http="0.0.0.0:4000"
Restart=always
Environment="PAGEMAIL_TOKEN_SIGNING_PUBLIC_KEY=/home/ec2-user/keys/prod.key.pub"
Environment="PAGEMAIL_TOKEN_SIGNING_PRIVATE_KEY=/home/ec2-user/keys/prod.key"
Environment="PAGEMAIL_EMAIL_TEMPLATE_PATH=/home/ec2-user/prod/templates/email.html.template"

[Install]
WantedBy=multi-user.target
