[Unit]
Description=pagemail.stage
After=network.target

[Service]
ExecStart=/home/ec2-user/stage/server serve --dir=/home/ec2-user/data/stage --http="0.0.0.0:4001"
Restart=always

[Install]
WantedBy=multi-user.target
