[Unit]
Description=pagemail
After=network.target

[Service]
ExecStart=/home/ec2-user/stg/pagemail/server 
Restart=always
Environment="PM_ENV=prd"
Environment="PM_PORT=4000"
Environment="PM_DB_PATH=/home/ec2-user/data/prd/pagemail"
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target
