[Unit]
Description=pagemail.stage
After=network.target

[Service]
ExecStart=/home/ec2-user/stg/pagemail/server 
Restart=always
Environment="PM_ENV=stg"
Environment="PM_PORT=4000"
Environment="PM_DB_PATH=/home/ec2-user/data/stg/pagemail"
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target


