package render

import (
	"fmt"
	"github.com/mr55p-dev/pagemail/pkg/db"
)

templ Index(user *db.User) {
	@Wrapper(user, "") {
		<h1>Pagemail</h1>
		<p>Pagemail is a simple read-it-later client for the web</p>
		if user != nil {
			<a href={ templ.URL(fmt.Sprintf("/%s/pages", user.Id)) }>View pages</a>
		} else {
			<a href="/signup">Sign up</a>
			<a href="/login">Log in</a>
		}
	}
}
