package render

import "github.com/mr55p-dev/pagemail/internal/dbqueries"

import ()

templ Index(user *dbqueries.User) {
	@Wrapper(user, "") {
		<h1>pagemail</h1>
		<p>pagemail is a simple read-it-later client for the web</p>
		if user != nil {
			<a href={ templ.URL("/pages/dashboard") }>View dashboard</a>
		} else {
			<a href="/signup">Sign up</a>
			<a href="/login">Log in</a>
		}
	}
}
