@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans
}

.btn-shape {
  @apply rounded block
}

.btn-colour {
  @apply hover:bg-secondary hover:text-primary hover:dark:bg-secondary-dark hover:dark:text-primary-dark
          transition-colors rounded-none
}

.page-heading {
  @apply font-semibold text-4xl text-center py-4 text-secondary dark:text-secondary-dark
}

.submit-enabled {
  @apply border-secondary dark:border-secondary-dark
    hover:bg-secondary hover:dark:bg-secondary-dark
    hover:dark:text-primary-dark hover:text-primary
    transition-colors rounded-none
}

.submit-disabled {
  @apply disabled:hover:cursor-default disabled:hover:bg-primary disabled:hover:dark:bg-primary-dark
    disabled:hover:text-secondary disabled:hover:dark:text-secondary-dark
}

.nav-border {
  @apply border-t-2 border-secondary dark:border-secondary-dark md:border-t-0
}