nav {
  position: sticky;
  top: 0px;
  bottom: 0px;
  height: auto;
  width: calc(100vw - 2 * $space-x4);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $space-x4;
  padding: $space-x2 $space-x4;

  background-color: $color-orange;

  .buttons {
    a,
    button {
      text-align: center;
      padding: $space-x2 $space-x4;
      margin: $space-x2;
      border: 2px solid white;
      background: transparent;

      color: white;
      text-decoration: none;

      &:visited {
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .brand-img {
    height: 50px;
    padding: 0 $space;

    &:hover {
      cursor: pointer;
    }
  }
}
