
.backdrop {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #ebd4de 9.9%, #9ae7ec 65.99%);

  .backdrop-fade {
    position: absolute;
    width: 100vw;
    height: 30%;
    left: 0px;
    bottom: 0px;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 40.1%
    );
  }
}

.index-content {
  .content {
    width: 780px;
    height: auto;
    text-align: center;
    margin: 0px auto;

    .title-box {
      margin: 115px auto 0 auto;

      .title {
        font-size: 96px;
        line-height: 169px;
      }

      .subtitle {
        font-family: "Noto Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #133e56;
      }
    }

    .cta > button {
      background: #ebd4de;
      border-radius: 4px;
      text-align: center;

      & p {
        font-size: 24px;
        line-height: 33px;
        color: #4d4d4d;
        width: 150px;
        margin: 0 auto;
      }
    }
  }
}
