@import "./vars.scss";

.index-content {
  position: absolute;
  height: max(480px, 75vh);
  top: 0px;
  width: 100%;
background: $color-orange;
background: linear-gradient(135deg, $color-orange 0%, $color-red 100%);

  display: grid;
  place-content: center;
  .content {
    margin: auto;
  }
}
