@import "vars.scss";
body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

